@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_JugadorLayout.cshtml";
}

<br />
<div class="row" data-equalizer>
    <div class="large-4 small-12 columns">
        <div class="card" data-equalizer-watch>
            <div class="image">
                <img src="~/Content/Foundation/img/perfil.jpg">

                <a class="label" href="#"><i class="fi-pencil size-14"></i></a>
            </div>
            <div class="image">
                <p class="title">Felipe Ortiz González</p>
            </div>
            <div class="content">
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="fi-torso size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>Felipe Ortiz González</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="fi-mail size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>correo@dominio.cl</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="fi-social-facebook size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>www.facebook.com/Profile</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="ionicons ion-iphone size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>+569 11111111</p>
                    </div>
                </div>
            </div>
            <div class="action">
                <!--
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="ionicons ion-man size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>Delantero (Der)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="ionicons ion-calculator size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>76% Probabilidad de ganar</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="ionicons ion-ios-football size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>15 anotaciones</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="zmdi zmdi-crop-portrait size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>3 Tarjetas amarillas</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="zmdi zmdi-crop-portrait size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>0 Tarjetas Rojas</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="fi-clock size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>302 Minutos jugados</p>
                    </div>
                </div>
                -->
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="ionicons ion-android-walk size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>Defensa.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="fi-foot size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>Derecho.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="ionicons ion-tshirt size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>Número 17.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="ionicons ion-man size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>1.82 Metros.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="zmdi zmdi-cake size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>23 Años.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="ionicons ion-ios-nutrition size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>95 Kg.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 small-2 columns">
                        <center><i class="fi-flag size-24 style5"></i></center>
                    </div>
                    <div class="large-10 small-10 columns">
                        <p>Chile.</p>
                    </div>
                </div>


            </div>
        </div>
        <br class="hide-for-large">
    </div>

    <div class="large-8 small-12 columns">
        <div class="card" data-equalizer-watch>
            <div class="action_title">
                <div class="large-9 small-7 columns" style="padding-left: 0;">
                    <span class="title_small hide-for-small">Siguientes partidos</span>
                    <span class="title_tiny show-for-small">Siguientes partidos</span>
                </div>
                <div class="large-3 small-5 columns" style="padding-right: 0;">
                    <ul class="button-group radius even-2">
                        <li><a href="#" class="button tiny text-center"><i class="fi-arrow-left size-14"></i></a></li>
                        <li><a href="#" class="button tiny text-center"><i class="fi-arrow-right size-14"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="event">

                <div class="event-date">
                    <p class="event-month">Sept</p>
                    <p class="event-day">18</p>
                </div>

                <div class="event-desc">
                    <h4 class="event-desc-header">Universidad de Chile vs Rangers de Talca</h4>
                    <span class="event-desc-time">20:00</span>
                    <p class="event-desc-detail">Estadio Fiscal de Talca.</p>
                    <a href="#" class="rsvp radius button">Más detalles</a>
                </div>
            </div>

            <hr>
            <div class="event">

                <div class="event-date">
                    <p class="event-month">Sep</p>
                    <p class="event-day">30</p>
                </div>

                <div class="event-desc">
                    <h4 class="event-desc-header">Universidad de Chile vs O&#39;Higgins</h4>
                    <span class="event-desc-time">13:30</span>
                    <p class="event-desc-detail">Estadio El Teniente de Rancagua.</p>
                    <a href="#" class="rsvp radius button">Más detalles</a>
                </div>

            </div>
            <hr>
            <div class="event">

                <div class="event-date">
                    <p class="event-month">Oct</p>
                    <p class="event-day">21</p>
                </div>

                <div class="event-desc">
                    <h4 class="event-desc-header">Universidad de Chile vs Colo-Colo</h4>
                    <span class="event-desc-time">17:50</span>
                    <p class="event-desc-detail">Estadio Nacional Julio Martínez.</p>
                    <a href="#" class="rsvp radius button">Más detalles</a>
                </div>

            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="large-12 small-12 columns">
        <div class="card">
            <div class="action_title">
                <div class="large-10 small-7 columns" style="padding-left: 0; padding-right: 0;">
                    <span class="title_small hide-for-small">Mis Equipos</span>
                    <span class="title_tiny show-for-small">Mis Equipos</span>
                </div>
                <div class="large-2 small-5 columns" style="padding-right: 0;">
                    <ul class="button-group radius even-2">
                        <li><a href="#" class="button tiny text-center"><i class="fi-arrow-left size-14"></i></a></li>
                        <li><a href="#" class="button tiny text-center"><i class="fi-arrow-right size-14"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="content_table">
                <center>
                    <table>
                        <thead>
                            <tr>
                                <th width="500">Equipo</th>
                                <th width="100" data-tooltip aria-haspopup="true" class="tip-top radius" title="Posición"><center>POS</center></th>
                                <th width="50" data-tooltip aria-haspopup="true" class="tip-top radius" title="Capitán">CAP</th>
                                <th width="50" data-tooltip aria-haspopup="true" class="hide-for-small tip-top radius" title="Partidos jugados">PJ</th>
                                <th width="50" data-tooltip aria-haspopup="true" class="hide-for-small tip-top radius" title="Probabilidad de anotar un gol">GLS</th>
                                <th width="50" data-tooltip aria-haspopup="true" class="hide-for-small tip-top radius" title="Probabilidad de asistir correctamente">AST</th>
                                <th width="50" data-tooltip aria-haspopup="true" class="hide-for-small tip-top radius" title="Probabilidad de acertar el pase">PC</th>
                                <th width="50" data-tooltip aria-haspopup="true" class="show-for-large tip-top radius" title="Probabilidad de fallar el pase">PF</th>
                                <th width="50" data-tooltip aria-haspopup="true" class="hide-for-small tip-top radius" title="Tarjetas amarillas">TA</th>
                                <th width="50" data-tooltip aria-haspopup="true" class="hide-for-small tip-top radius" title="Tarjetas rojas">TR</th>
                                <th width="50" data-tooltip aria-haspopup="true" class="show-for-large tip-top radius" title="Faltas">FLS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row collapse">
                                        <img src="~/Content/Foundation/img/eqs/uchile.png" width="25" height="25" align="center">
                                        <span>U. de Chile</span>
                                    </div>
                                </td>
                                <td><center><span class="label radius">DEF</span></center></td>
                                <td><center><span class="label alert radius">NO</span></center></td>
                                <td class="hide-for-small"><center>10</center></td>
                                <td class="hide-for-small"><center>7%</center></td>
                                <td class="hide-for-small"><center>67%</center></td>
                                <td class="hide-for-small"><center>87%</center></td>
                                <td class="show-for-large"><center>13%</center></td>
                                <td class="hide-for-small"><center>1</center></td>
                                <td class="hide-for-small"><center>0</center></td>
                                <td class="show-for-large"><center>4</center></td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="row collapse">
                                        <img src="~/Content/Foundation/img/eqs/rangers.png" href="#" width="25" height="25" align="center">
                                        <span>Rangers</span>
                                    </div>
                                </td>
                                <td><center><span class="label radius">CEN</span></center></td>
                                <td><center><span class="label success radius">SI</span></center></td>
                                <td class="hide-for-small"><center>15</center></td>
                                <td class="hide-for-small"><center>32%</center></td>
                                <td class="hide-for-small"><center>61%</center></td>
                                <td class="hide-for-small"><center>78%</center></td>
                                <td class="show-for-large"><center>22%</center></td>
                                <td class="hide-for-small"><center>1</center></td>
                                <td class="hide-for-small"><center>1</center></td>
                                <td class="show-for-large"><center>2</center></td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
        </div>
    </div>
</div>
<br />
