@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_JugadorLayout.cshtml";
}

<br />
<!--
<div class="row">
    <div class="large-12 small-12 columns">
        <h3>
            Seleccione una región
            <select>
                <option value="0" selected>Metropolitana de Santiago</option>
                <option value="1">Arica y Parinacota</option>
                <option value="2">Tarapacá</option>
                <option value="3">Antofagasta</option>
                <option value="4">Atacama</option>
                <option value="5">Coquimbo</option>
                <option value="6">Valparaíso</option>
                <option value="7">O'Higgins</option>
                <option value="8">Maule</option>
                <option value="9">Bío Bío</option>
                <option value="10">Araucanía</option>
                <option value="11">Los Ríos</option>
                <option value="12">Los Lagos</option>
                <option value="13">Aysén</option>
                <option value="14">Magallanes y Antártica Chilena</option>
            </select>
        </h3>
    </div>
</div>
-->
<div class="row">
    <div class="large-12 small-12 columns">
        <h3>Selecciona un equipo</h3>
    </div>
</div>

<div class="row">
    <div class="large-12 small-12 columns">
        <div class="card">
            <div class="content" style="padding-bottom: 0;">
                <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-8 ">
                    <li>
                        <a><img class="th active-tb shadow mrgn-20-top" src="~/Content/Foundation/img/eqs/uchile.png" align="middle" style="padding: 0.5rem;background:#ffffff;" data-tooltip aria-haspopup="true" title="Universidad de Chile"></a>
                    </li>
                    <li>
                        <a><img class="th active-tb shadow mrgn-20-top" src="~/Content/Foundation/img/eqs/rangers.png" align="middle" style="padding: 0.5rem;background:#ffffff;" data-tooltip aria-haspopup="true" title="Rangers de Talca"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="large-12 small-12 columns">
        <div class="card">
            
        </div>
    </div>
</div>

<br />
